.pt1602-product-faq-modal__content {
    padding: 0.75rem 1.25rem;

    .mt-textarea {
        margin-bottom: 0;

        .mt-field-label {
            margin-left: 0.125rem;
        }

        .mt-textarea__textarea {
            padding: 0.5625rem;
        }
    }
}
